# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment Variables
.env

# Local Cache Files (Do not commit)
library_cache.json
lastfm_cache.json
embeddings_cache.pkl
spotify_cache.json
spotify_token.json
essentia_cache.json

# IDEs
.vscode/
.idea/
.DS_Store

# Build / Source
essentia/
