# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment Variables
.env

# Local Cache Files (Do not commit)
library_cache.json
lastfm_cache.json
embeddings_cache.pkl

# IDEs
.vscode/
.idea/
.DS_Store
